<!DOCTYPE html>
<html>
    <style>
    .font-size-small{
        font-size: 15px;
        }
    .font-size-medium{
      font-size: 35px;
    }
    .font-size-large{
      font-size: 50px;
    }
    .white{
      color:#FFFFFF
    }
    body {
        background-image: url('https://wallpapertag.com/wallpaper/full/4/8/a/119572-download-dark-gray-background-1920x1080-cell-phone.jpg');
        height: 100%;
        background-repeat:none;
        background-position: center;
      }
    </style>
    <head>
        <!--specifies title of the page !-->
        <title>Fav Fruits</title>
    </head>
    <body>
    <center>
    <p class="font-size-large white"><b>These are my favorite fruits! (in order
     from best to least best)</b></p>

     <p>  </p>
    </center>
    </body>
</html>