<!DOCTYPE html>
<html>
    <style>
    .font-size-small{
        font-size: 30px
        }
    .font-size-medium{
      font-size: 40px;
    }
    .font-size-large{
      font-size: 60px;
    }
    @media only screen and (max-width: 768px) {
      body {
        background-color: lightblue;
      }
    }
    </style>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <center>
    <p class="font-size-medium">Hello World!</p>
    <a class="font-size-small" href="/favfruits">Fav Fruits</a>
    <p> </p>
    <a class="font-size-small" href="/photos">Photos</a>
    <br>
    <img src="/static/flower.jpg" style="width:400px" </img>
    <br>
    <a class ="font-size-small"href="https://lawsofux.com/">A cool website on UX design! </a>
     <p class="font-size-large"> My name is <b> Adriana Orantes </b></p>
    <p class="font-size-medium"> This is me: </p>
    <img src="/static/headshotOfficial.png" style="width:500px" </img>
    <p class="font-size-small"> I am currently a first-year in the Fu Foundation School of Engineering
    and Applied Sciences. My intended major is Computer Science, and I plan
    to minor in Entrepreneurship or Latin American Studies!</p>


    </center>
    </body>
</html>

