<html>
    <style>
    .font-size-large{
        font-size:50px;
    }
    .font-size-medium{
        font-size: 40px;
    }
    .white{
        color:#FFFFFF
    }
    body {
        background-image: url('https://wallpapertag.com/wallpaper/full/4/8/a/119572-download-dark-gray-background-1920x1080-cell-phone.jpg');
        height: 100%;
        background-repeat:none;
        background-position: center;
      }
    </style>
    <center>
    <head>
        <title>Photos</title>
    </head>
    

</html>


